# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__

# Rasa specific files
.rasa/
rasa/
*.db
*.sqlite3
*.log

# Stuff we can recreate
Chatbot/models/
Chatbot/chats.csv
Chatbot/feedback.txt

# Virtual environment
venv/
env/

# IDE-specific files
.vscode/

# Logs and temporary files
*.log
*.bak
*.swp
